aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
aiohttp==3.12.15 ; python_version >= "3.11" and python_full_version <= "3.13.0"
aiosignal==1.4.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
alembic==1.16.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
anyio==3.7.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
appdirs==1.4.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
asgiref==3.9.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
async-timeout==5.0.1 ; python_version >= "3.11" and python_version < "3.12.0"
asyncpg==0.29.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
attrs==25.3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
auth0-python==4.10.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
backoff==2.2.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
bcrypt==4.3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
beautifulsoup4==4.13.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
build==1.3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
cachetools==5.5.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
certifi==2025.8.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
cffi==1.17.1 ; python_version >= "3.11" and python_full_version <= "3.13.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
chroma-hnswlib==0.7.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
chromadb==0.4.24 ; python_version >= "3.11" and python_full_version <= "3.13.0"
click==8.2.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
cohere==5.17.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
colorama==0.4.6 ; python_version >= "3.11" and python_full_version <= "3.13.0" and (sys_platform == "win32" or platform_system == "Windows" or os_name == "nt")
coloredlogs==15.0.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
crewai==0.55.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
cryptography==45.0.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
dataclasses-json==0.6.7 ; python_version >= "3.11" and python_full_version <= "3.13.0"
deprecation==2.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
distro==1.9.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
docstring-parser==0.16 ; python_version >= "3.11" and python_full_version <= "3.13.0"
durationpy==0.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
ecdsa==0.19.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
embedchain==0.1.122 ; python_version >= "3.11" and python_full_version <= "3.13.0"
fastapi==0.104.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
fastavro==1.12.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
filelock==3.19.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
flatbuffers==25.2.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
frozenlist==1.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
fsspec==2025.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-api-core==2.25.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-api-core[grpc]==2.25.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-auth==2.40.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-cloud-aiplatform==1.91.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-cloud-bigquery==3.35.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-cloud-core==2.4.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-cloud-resource-manager==1.14.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-cloud-storage==2.19.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-crc32c==1.7.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
google-resumable-media==2.7.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
googleapis-common-protos==1.70.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
googleapis-common-protos[grpc]==1.70.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
gotrue==2.9.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
gptcache==0.1.44 ; python_version >= "3.11" and python_full_version <= "3.13.0"
greenlet==3.2.4 ; python_full_version <= "3.13.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.11"
grpc-google-iam-v1==0.14.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
grpcio-status==1.74.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
grpcio==1.74.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
h11==0.16.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
h2==4.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
hf-xet==1.1.7 ; python_version >= "3.11" and python_full_version <= "3.13.0" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
httpcore==1.0.9 ; python_version >= "3.11" and python_full_version <= "3.13.0"
httptools==0.6.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
httpx-sse==0.4.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
httpx==0.25.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
httpx[http2]==0.25.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
huggingface-hub==0.34.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
humanfriendly==10.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
hyperframe==6.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
idna==3.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
importlib-metadata==8.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
importlib-resources==6.5.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
instructor==1.3.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jiter==0.4.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
json-repair==0.25.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonpatch==1.33 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonpointer==3.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jsonref==1.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
kubernetes==33.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain-cohere==0.1.9 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain-community==0.2.19 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain-core==0.2.43 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain-experimental==0.0.65 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain-openai==0.1.25 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain-text-splitters==0.2.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langchain==0.2.17 ; python_version >= "3.11" and python_full_version <= "3.13.0"
langsmith==0.1.147 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mako==1.3.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
markupsafe==3.0.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
marshmallow==3.26.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mem0ai==0.1.115 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mmh3==5.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
monotonic==1.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mpmath==1.3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
multidict==6.6.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
numpy==1.26.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
oauthlib==3.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
onnxruntime==1.22.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
openai==1.49.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-api==1.36.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-exporter-otlp-proto-common==1.36.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-exporter-otlp-proto-grpc==1.36.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-exporter-otlp-proto-http==1.36.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-instrumentation-asgi==0.57b0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-instrumentation-fastapi==0.57b0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-instrumentation==0.57b0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-proto==1.36.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-sdk==1.36.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-semantic-conventions==0.57b0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
opentelemetry-util-http==0.57b0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
orjson==3.11.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
overrides==7.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
packaging==24.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pandas==2.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
portalocker==3.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
postgrest==0.17.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
posthog==3.25.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
propcache==0.3.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
proto-plus==1.26.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
protobuf==6.32.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pulsar-client==3.8.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyasn1-modules==0.4.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyasn1==0.6.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pycparser==2.22 ; python_version >= "3.11" and python_full_version <= "3.13.0" and platform_python_implementation != "PyPy"
pydantic-core==2.33.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pydantic-settings==2.10.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pydantic==2.11.7 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pygments==2.19.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyjwt==2.10.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pypdf==4.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pypika==0.48.9 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyproject-hooks==1.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_version >= "3.11" and python_full_version <= "3.13.0"
pysbd==0.3.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-dotenv==1.1.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-jose[cryptography]==3.5.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-multipart==0.0.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pytz==2025.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pywin32==311 ; python_version >= "3.11" and python_full_version <= "3.13.0" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
qdrant-client==1.15.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
realtime==2.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
redis==5.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
regex==2024.11.6 ; python_version >= "3.11" and python_full_version <= "3.13.0"
requests-oauthlib==2.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
requests==2.32.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
rich==13.9.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
rsa==4.9.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
schema==0.7.7 ; python_version >= "3.11" and python_full_version <= "3.13.0"
shapely==2.1.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
six==1.17.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
soupsieve==2.7 ; python_version >= "3.11" and python_full_version <= "3.13.0"
sqlalchemy==2.0.43 ; python_version >= "3.11" and python_full_version <= "3.13.0"
starlette==0.27.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
storage3==0.8.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
strenum==0.4.15 ; python_version >= "3.11" and python_full_version <= "3.13.0"
structlog==23.3.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
supabase==2.8.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
supafunc==0.6.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
sympy==1.14.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tenacity==8.5.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tiktoken==0.7.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tokenizers==0.21.4 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tqdm==4.67.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typer==0.16.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
types-requests==2.32.4.20250809 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typing-extensions==4.14.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typing-inspection==0.4.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tzdata==2025.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
urllib3==2.5.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
uvicorn[standard]==0.24.0.post1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
uvloop==0.21.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.11" and python_full_version <= "3.13.0"
watchfiles==1.1.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
websocket-client==1.8.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
websockets==15.0.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
wrapt==1.17.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
yarl==1.20.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
zipp==3.23.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
